.bookmark {
  padding: 15px 0;
}

.bookmark > * {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.bookmark > header {
  clear: both;
}

.bookmark > header > .author:before {
  content: "| ";
}

.bookmark:not(:last-child) {
  border-bottom: 1px solid gray; /* */
}

.bookmark > .link {
  padding: 10px 0; /* The padding of link title.*/
  float: left;
}

.bookmark > .link > a {
  font-size: 30px;
  margin-right: 10px; /* The margin between title and label.*/
}

.bookmark > .actions {
  padding: 15px 0; /* The padding of link title.*/
  float: right;
}

.bookmark > footer >  {
  clear: both;
}

