<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bookmark</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Error Page</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <% if(user) {%>
                <li><a href="/logout" >Logout</a></li>
                <% } else { %>
                <li><a href="/login" >Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>We cannot find the page.</h1>
    <p><%= error %></p>
</div>
</body>
</html>