<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
  <link href="//cdn.bootcss.com/animate.css/3.5.1/animate.min.css" rel="stylesheet">
  <link href="/stylesheets/uploader.css" rel="stylesheet">
  <link href="/stylesheets/regist.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <script src="/javascripts/dmuploader.min.js"></script>
  <script src="/javascripts/regist.js"></script>
  <title>Bookmark - Regist Your Account</title>
</head>
<body>

<!-- Navbar div -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My bookmark</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log-In</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<div class="container">
  <form id="registFrom" action="/regist" method="post">

    <!-- Avatar div -->
    <div class="form-group avatar">
      <label for="avatar">Your Avatar:</label>
      <div id="drag-and-drop-zone" class="uploader">
        <div>Drag Your Avatar Here</div>
        <div class="or">-or-</div>
        <div class="browser">
          <label>
            <span>Browser</span>
            <input type="file" name="avatar" id="avatar" accept="image/*">
          </label>
        </div>
      </div>
      <div class="avatar_view" id='demo-files'>
        <img src="/images/guest.jpg">
      </div>
    </div>
    <!-- Avatar div -->

    <!-- Input detail div -->
    <div class="form-group has-feedback">
      <label for="username">Your name:</label>
      <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
        </span>
        <input name="username" type="text" id="username" class="form-control" required />
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="email">Email:</label>
      <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <input name="email" type="email" id="email" class="form-control" required />
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="password">Password:</label>
      <div class="input-group">
        <span class="input-group-addon">
            <span class="fa fa-key"></span>
        </span>
        <input name="password" type="password" id="password" class="form-control" required />
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="confirm">Confirm:</label>
      <div class="input-group">
        <span class="input-group-addon">
            <span class="fa fa-key"></span>
        </span>
        <input name="confirm" type="password" id="confirm" class="form-control" required />
      </div>
    </div>

    <button class="btn btn-default" type="submit">regist</button>
    <!-- Input detail div -->

  </form>
</div>

</body>
</html>
